<!-- Main title -->
<section class="main-title parallax blog-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main-title-caption">

					<h1>Web Design</h1>

					<ol class="breadcrumb">
					  	<li><a href="#">Home</a></li>
					  	<li><a href="#">Blog</a></li>
					</ol>

				</div>

			</div>
		</div>
	</div>
</section>

<!-- Blog -->
<section class="blog">
	<div class="container">
		<div class="row">

			<!-- Content -->
			<div class="col-md-8">
				<div class="row">

					<!-- Blog post 1 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-1.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">High Rises on a Riverbank</a></h2>
								<div class="post-categories">
									<a href="#">Fashion</a> / <a href="#">Photography</a>
								</div>
								<p class="post-meta">February 25, 2020</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 2 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-2.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">Goodies from Top of the Rock</a></h2>
								<div class="post-categories">
									<a href="#">Art</a> / <a href="#">Video</a>
								</div>
								<p class="post-meta">January 30, 2020</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 3 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-3.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">Caught a Moment in New York</a></h2>
								<div class="post-categories">
									<a href="#">Food</a> / <a href="#">Recipes</a>
								</div>
								<p class="post-meta">January 17, 2020</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 4 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-4.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">Metropolitan City of Venice</a></h2>
								<div class="post-categories">
									<a href="#">Travel</a> / <a href="#">City</a>
								</div>
								<p class="post-meta">March 22, 2018</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 5 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-5.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">The Wonderful Nyhavn</a></h2>
								<div class="post-categories">
									<a href="#">Fashion</a> / <a href="#">Beauty</a>
								</div>
								<p class="post-meta">March 18, 2018</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 6 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-6.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">New York City Silhouette</a></h2>
								<div class="post-categories">
									<a href="#">Art</a> / <a href="#">Music</a>
								</div>
								<p class="post-meta">March 16, 2018</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 7 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-7.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">Manhattan Madness</a></h2>
								<div class="post-categories">
									<a href="#">LifeStyle</a> / <a href="#">Posters</a>
								</div>
								<p class="post-meta">March 15, 2018</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

					<!-- Blog post 8 -->
					<div class="col-md-12">
						<div class="post-single wow fadeIn" data-wow-delay="0.1s">

							<figure>
								<a href="blog-post.html">
									<img src="images/blog/post-8.jpg" alt="" />
								</a>
							</figure>

							<div class="blog-content">
								<h2><a href="blog-post.html">Wildfire Sunset Photo</a></h2>
								<div class="post-categories">
									<a href="#">Fashion</a> / <a href="#">Photography</a>
								</div>
								<p class="post-meta">February 17, 2018</p>
								<p>Etiam ut mollis mauris. Praesent sodales mauris odio, ultricies porttitor mauris porttitor auctor. Donec tincidunt neque mollis arcu ornare sagittis.</p>

								<a href="blog-post.html" class="btn-custom btn-fill btn-read-more">Read More</a>
							</div>

						</div>
					</div>

				</div>

				<!-- Pagination -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							<li><a href="#"><i class="fas fa-angle-left"></i> Prev</a></li>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next <i class="fas fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>

			</div>

			<!-- Sidebar -->
			<div class="col-md-4">

				<!-- Search form -->
				<div class="sidebar-single">
					<div class="sidebar-content">
						<div class="search-form">

							<form action="#" method="get" role="search">
								<div class="form-group">
									<input class="form-control" placeholder="Search..." id="srch-term" type="text">
									<button class="btn-custom btn-fill btn-search" type="submit"><i class="fas fa-angle-right"></i></button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<!-- Author -->
				<div class="sidebar-single sidebar-author-area">

					<div class="sidebar-title">
						<h2>About Me</h2>
					</div>

					<div class="sidebar-content">

						<div class="author-content">
							<img src="images/blog/author.jpg" alt="" />
							<h5>Frances Lawrence</h5>
							<p>
								Aliquam erat volutpat. Mauris lobortis ut erat vitae feugiat.
								Proin aliquet gravida et consequat. Phasellus nec posuere velit.
							</p>
						</div>

						<div class="author-social social-links">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-pinterest-p"></i></a>
						</div>

					</div>

				</div>

				<!-- Instagram feed -->
				<div class="sidebar-single">
					<div class="sidebar-title">
						<h2>Instagram</h2>
					</div>

					<div class="row instagram-feed">

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-1.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-2.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-3.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-4.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-5.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-6.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-7.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-8.jpg" alt="" />
							</a>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<a href="#">
								<img src="images/blog/instagram-9.jpg" alt="" />
							</a>
						</div>

					</div>
				</div>

				<!-- Recent posts -->
				<div class="sidebar-single">

					<div class="sidebar-title">
						<h2>Popular Posts</h2>
					</div>

					<div class="sidebar-content">

						<div class="recent-post">
							<div class="recent-post-image">
								<a href="blog-post.html">
									<img src="images/blog/recent-post-1.jpg" alt="">
								</a>
							</div>

							<div class="recent-post-info">
								<h4><a href="blog-post.html">High Rises on a Riverbank</a></h4>
								<div class="recent-post-categories">
									<a href="#">Fashion</a> / <a href="#">Photography</a>
								</div>
								<p>February 25, 2020</p>
							</div>
						</div>

						<div class="recent-post">
							<div class="recent-post-image">
								<a href="blog-post.html">
									<img src="images/blog/recent-post-2.jpg" alt="">
								</a>
							</div>

							<div class="recent-post-info">
								<h4><a href="blog-post.html">Goodies from Top of the Rock</a></h4>
								<div class="recent-post-categories">
									<a href="#">Art</a> / <a href="#">Video</a>
								</div>
								<p>January 30, 2020</p>
							</div>
						</div>

						<div class="recent-post">
							<div class="recent-post-image">
								<a href="blog-post.html">
									<img src="images/blog/recent-post-3.jpg" alt="">
								</a>
							</div>

							<div class="recent-post-info">
								<h4><a href="blog-post.html">Caught a Moment in New York</a></h4>
								<div class="recent-post-categories">
									<a href="#">Food</a> / <a href="#">Recipes</a>
								</div>
								<p>January 17, 2020</p>
							</div>
						</div>

					</div>
				</div>

				<!-- Categories -->
				<div class="sidebar-single sidebar-list">

					<div class="sidebar-title">
						<h2>Categories</h2>
					</div>

					<div class="custom-categories">
						<ul>
							<li>
								<a href="blog.html">Web Design</a>
								<span class="cat-count">8</span>
							</li>
							<li>
								<a href="blog.html">Web Development</a>
								<span class="cat-count">6</span>
							</li>
							<li>
								<a href="blog.html">Photography</a>
								<span class="cat-count">2</span>
							</li>
							<li>
								<a href="blog.html">Graphics Design</a>
								<span class="cat-count">3</span>
							</li>
							<li>
								<a href="blog.html">Food</a>
								<span class="cat-count">5</span>
							</li>
						</ul>
					</div>

				</div>

				<!-- Tag cloud -->
				<div class="sidebar-single tagcloud">

					<div class="sidebar-title">
						<h2>Tag Cloud</h2>
					</div>

					<div class="sidebar-content">
						<a href="#">Adventure</a>
						<a href="#">Awesome</a>
						<a href="#">Beautiful</a>
						<a href="#">Fashion</a>
						<a href="#">Food</a>
						<a href="#">Gallery</a>
						<a href="#">Inspiration</a>
						<a href="#">Lifestyle</a>
						<a href="#">Photography</a>
						<a href="#">Story</a>
						<a href="#">Technology</a>
					</div>

				</div>

			</div>

		</div>
	</div>
</section>