<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Title -->
		<title>Maawol | Online Music Schools</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="layout/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Font awesome -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/fontawesome/css/all.min.css">

		<!-- Google web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400italic,600,700,700italic,800" rel="stylesheet" type="text/css">

		<!-- Stylesheet -->
		<link rel="stylesheet" href="layout/style.css" type="text/css">
		<link rel="stylesheet" href="layout/media.css" type="text/css">

		<!-- Color schema -->
		<link class="colors" rel="stylesheet" type="text/css" href="layout/colors/green.css">

		<!-- Linea icons -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/arrows/styles.css" />
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/basic/styles.css" />
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/ecommerce/styles.css" />

		<!-- Owl carousel -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/owlcarousel/owl.carousel.min.css">

		<!-- Slick nav -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/slicknav/slicknav.css">

		<!-- Slick carousel -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/slick/slick.css">

		<!-- Animated -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/animate/animate.css">

		<!-- Magnific popup -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/magnificpopup/magnific-popup.css">

		<!-- YTPlayer -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/ytplayer/css/jquery.mb.ytplayer.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
      		<script src="layout/plugins/html5shiv/html5shiv.js"></script>
      		<script src="layout/plugins/respond/respond.min.js"></script>
      	<![endif]-->

	</head>

	<body data-spy="scroll" data-target="#navigation" data-offset="65">

		<!-- Preloader -->
		<div class="preloader">
			<div class="spinner-loader">
				<div class="load1"></div><div class="load2"></div><div class="load3"></div><div class="load4"></div><div class="load5"></div>
			</div>
		</div>

		<!-- Header -->
		<header>
			<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
				<div class="container">

					<div class="navbar-header">

						<!-- Logo -->
						<a class="navbar-brand" href="index.html">
							<img src="images/logo.png" data-rjs="2" alt="" />
						</a>

						<!-- Responsive menu button -->
						<div class="navbar-toggle"></div>

					</div>
					<div id="responsive-menu"></div>

					<!-- Navigation -->
					<div class="navbar-collapse collapse" id="navigation">
						<ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#screenshots">Screenshots</a></li>
							<li><a href="#pricing">Price</a></li>
							<li><a href="#support">Support</a></li>
							<li><a href="#blog">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>

				</div>
			</nav>
		</header>

		<!-- Banner -->
		<section class="banner parallax image-bg" id="home">
			<div class="container">
				<div class="row">

					<div class="col-md-7">
						<div class="header-content">

							<h2>Run your own online <br />Music School</h2>
							<p>
								Maawol is a tool for building and running online music schools.<br />
								Manage your own library of music lessons, group them into courses, connect online with your students and turn them into paying subscribers.
							</p>

							<div class="download-button">
								<a href="#features" class="btn-download btn-fill">
									<i class="fas fa-briefcase"></i>
									<span>How does it work?</span>Find out more
								</a>
								<a href="#showcase" class="btn-download btn-fill">
									<i class="fas fa-school"></i>
									<span>Who's using Maawol?</span>View schools
								</a>
							</div>

						</div>
					</div>

					<div class="col-md-3 col-md-offset-2">

						<!-- Header slider -->
						<div class="owl-carousel owl-theme header-slider" id="header-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-1.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-2.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-3.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-4.png" alt="" />
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- Features -->
		<section id="features">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>How And <strong>Why</strong></h2>

							<p><b>Maawol</b> (<i>Màawølː</i>): Music As A Way Of Life.</p>

							<p>
								Music teachers and schools have been hit hard by these challenging times. Most are struggling to make ends meet. Many of them are unable to continue to connect with their students other than via 1-2-1 lessons on Skype or Zoom.
							</p>

							<p>
								Maawol online music schools is a way to overcome these hard times by offering an online library of lessons to your students.
								Our business model is designed to work for you: No upfront costs, no monthly subscription, no hosting fees. By taking a 15% revenue share we only make money when you do.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Feature 1 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="far fa-hand-paper"></i></div>
							<h3>No upfront costs for you</h3>
							<p>
								Start your own online music school on your own custom web domain with no upfront costs:
							</p>
						</div>
					</div>

					<!-- Feature 2 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp">
							<div class="icon"><i class="fas fa-chart-line"></i></i></div>
							<h3>Easy Subscriptions</h3>
							<p>
								Encourage students to join and subscribe to your school on a monthly rolling basis. They can pay via card or Paypal. You receive 85% of all subscription payments.
							</p>
						</div>
					</div>


					<!-- Feature 3 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.6s">
							<div class="icon"><i class="fas fa-money-bill-alt"></i></div>
							<h3>Pay-as-you-go Content</h3>
							<p>
								Create customised e-commerce stores selling one-off courses and files to those students who do not join as members. You receive 85% of all store sales.
							</p>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12 feature-mobile">

						<img src="images/features/mobile.png" alt="" />

					</div>
				</div>

			</div>
		</section>

		<!-- Key features -->
		<section class="bg-grey key-features">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Maawol <strong>Schools</strong></h2>
							<p>
								Maawol online music schools are feature rich, blah bnlah blah.....
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Left -->
					<div class="col-md-4">

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="far fa-lightbulb"></i>
							</div>
							<div class="box-title">Your own lesson library</div>
							<div class="box-text">
								Organise lessons into courses
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-trophy"></i>
							</div>
							<div class="box-title">Your own unique domain</div>
							<div class="box-text">
								Your Maawol school runs on your custom web domain e.g. www.bobspianolessons.com.
								Set up is all done by us, blah, blah
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-comments"></i>
							</div>
							<div class="box-title">Create your own pages</div>
							<div class="box-text">
								As well as the lessons and courses pages you can create your own information pages using a cusomt built CMS.
							</div>
						</div>

					</div>

					<!-- Center -->
					<div class="col-md-4 hidden-xs text-center feature-center">
						<img src="images/features/awesome-features.png" alt="" />
					</div>

					<!-- Right -->
					<div class="col-md-4">

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-eye"></i>
							</div>
							<div class="box-title">Responsive layout</div>
							<div class="box-text">
								Works on mobiles, desktops and tablets
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-tv"></i>
							</div>
							<div class="box-title">Customise your branding</div>
							<div class="box-text">
								Set your own logo and colour theme to make the school feel like your brand.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-code"></i>
							</div>
							<div class="box-title">Regular updates</div>
							<div class="box-text">
								Maawol is regularly updated with new features.
							</div>
						</div>

					</div>

				</div>

			</div>
		</section>

		<!-- Testimonials -->
		<section>
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Client <strong>Reviews</strong></h2>
							<p>
								Donec purus est, tincidunt eu sodales quis, vehicula quis enim.
								Morbi dapibus, tellus a gravida faucibus, elit ipsum sollicitudin risus,
								id ultricies arcu neque eget velit.
							</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 testimonial-carousel">

						<!-- Text -->
						<div class="block-text row">
							<div class="carousel-text testimonial-slider col-sm-12">
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Aenean sit amet est orci. Aenean at nisi eget nulla lobortis commodo. Nam eget lorem in ex aliquam dapibus.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Suspendisse non velit lacus. Mauris efficitur lorem a justo semper, ut suscipit ligula malesuada. Donec dui nulla.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Vestibulum lectus massa, volutpat ut tristique nec, volutpat in turpis. In vehicula tempus odio. Nullam enim ligula.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Nunc accumsan finibus sollicitudin. Integer malesuada purus sapien, sit amet volutpat sem fringilla ut. Proin viverra scelerisque mollis.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Fusce euismod eget nulla a tempus. Pellentesque in varius metus. Fusce iaculis cursus ante, vel vestibulum dui sagittis vitae.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Cras et est eu tellus fringilla congue. Nunc efficitur libero ut nunc volutpat porttitor. Aliquam in justo at neque.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Vivamus pellentesque dignissim neque, quis viverra diam venenatis sit amet. Donec dignissim turpis quis libero posuere auctor.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Aenean varius accumsan eros, id molestie leo vestibulum a. Ut semper dictum feugiat. Integer tincidunt interdum eros ut accumsan.</p>
									</div>
								</div>
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Morbi viverra ultrices magna vel egestas. Suspendisse rutrum, lacus nec sodales gravida, augue ante sollicitudin sem.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Media -->
						<div class="block-media row">
							<div class="carousel-images testimonial-nav col-sm-8 col-sm-offset-2">
								<div>
									<img src="images/testimonials/client-1.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Jane Doris</h3>
										<span>From Acme</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-2.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>David Dowsy</h3>
										<span>From Globex</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-3.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Doglas Kosta</h3>
										<span>From Soylent</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-4.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Anthony Lee</h3>
										<span>From Initech</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-5.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Martin Jack</h3>
										<span>From Hooli</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-6.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Jonathon Doe</h3>
										<span>From Umbrella</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-7.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Shane Catson</h3>
										<span>From Massive</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-8.png" alt="" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Hugh Tace</h3>
										<span>From Capital</span>
									</div>
								</div>
								<div>
									<img src="images/testimonials/client-9.png" alt="3" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Chris Wort</h3>
										<span>From Sylhost</span>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>

			</div>
		</section>


		<!-- Pricing -->
		<section id="pricing" class="pricing parallax-bg" data-bg="images/parallax/pricing.jpg">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title white">
							<h2>The <strong>Alternatives</strong></h2>
							<p>
								Why choose Maawol to present your lesson content over other online offerings?<br />
								Here's a comparison with 3 of them.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Competitor 1 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title">
								<h5>YouTube</h5>
								<div class="price-rate">
									<span class="currency"><i class="fas fa-dollar-sign"></i></span>
									<span class="rate">19</span>
									<span class="time">Month</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice....</b></li>
										<li>Students pay for access to your lesson content.</li>
										<li>Convert your existing YouTube followers into paying customers.</li>
										<li>Students stay within your own domain / no distractions</li>
										<li>No adverts.</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<!-- Competitor 2 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title featured">
								<h5>Patreon</h5>
								<div class="price-rate">
									<span class="currency" ><i class="fas fa-dollar-sign"></i></span>
									<span class="rate">35</span>
									<span class="time">Month</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice....</b></li>
										<li>Instead of a timeline, lessons are categorised, searchable and grouped into courses.</li>
										<li>Videos are not hosted on YouTube and thus not publicly accessible.</li>
										<li>You control your own brand on your own web domain.</li>
									</ul>
								</div>
							</div>

						</div>

					</div>

					<!-- Competitor 3 -->
					<div class="col-md-4">

						<div class="price-table">
							<div class="price-title">
								<h5>Udemy</h5>
								<div class="price-rate">
									<span class="currency" ><i class="fas fa-dollar-sign"></i></span>
									<span class="rate">89</span>
									<span class="time">Month</span>
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice....</b></li>
										<li>No competition from other content producers. Your students stay within your domain.</li>
										<li>Maawol online schools are customised for <b>music</b> lessons</li>
										<li>Udemy take a much higher revenue share at 50%; we take only 15%</li>
									</ul>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- Support -->
		<section class="support" id="support">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Features</h2>
							<p>
								Suspendisse ut aliquet tellus, et tempus metus. Cras ac gravida elit.
								Cras hendrerit placerat urna eget placerat. Etiam eu mi sapien.
								Praesent maximus maximus nisi, non maximus tellus euismod quis.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- FAQ -->
					<div class="col-md-7">

						<div class="faq-support">

							<!-- FAQ accordion -->
							<div class="panel-group" id="accordion">

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse1" data-toggle="collapse" data-parent="#accordion">
												1. Host your own library of video lessons
											</a>
										</h4>
									</div>

									<div id="collapse1" class="panel-collapse collapse in" data-carousel-image-id="library">
										<div class="panel-body">
											<p>
												Phasellus elit augue, egestas eu est ut, rutrum lobortis turpis.
												Vivamus eget blandit est. Curabitur dapibus est et dignissim interdum.
												Nulla ligula turpis, ultrices in consequat vitae, tempor sed sem.
											</p>
											<p>
												Curabitur placerat pretium neque eget condimentum.
												Pellentesque id suscipit lorem. Nunc aliquam vehicula eros pharetra interdum.
												Pellentesque purus lectus, blandit ut risus vel, pharetra sagittis magna.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse2" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												2. Group lessons into courses
											</a>
										</h4>
									</div>

									<div id="collapse2" class="panel-collapse collapse" data-carousel-image-id="courses">
										<div class="panel-body">
											<p>
												Phasellus elit augue, egestas eu est ut, rutrum lobortis turpis.
												Vivamus eget blandit est. Curabitur dapibus est et dignissim interdum.
												Nulla ligula turpis, ultrices in consequat vitae, tempor sed sem.
											</p>
											<p>
												Curabitur placerat pretium neque eget condimentum.
												Pellentesque id suscipit lorem. Nunc aliquam vehicula eros pharetra interdum.
												Pellentesque purus lectus, blandit ut risus vel, pharetra sagittis magna.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse3" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												3. Manage your content through your own admin system
											</a>
										</h4>
									</div>

									<div id="collapse3" class="panel-collapse collapse" data-carousel-image-id="admin">
										<div class="panel-body">
											<p>
												Phasellus elit augue, egestas eu est ut, rutrum lobortis turpis.
												Vivamus eget blandit est. Curabitur dapibus est et dignissim interdum.
												Nulla ligula turpis, ultrices in consequat vitae, tempor sed sem.
											</p>
											<p>
												Curabitur placerat pretium neque eget condimentum.
												Pellentesque id suscipit lorem. Nunc aliquam vehicula eros pharetra interdum.
												Pellentesque purus lectus, blandit ut risus vel, pharetra sagittis magna.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse4" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												4. Customised emails for your students
											</a>
										</h4>
									</div>

									<div id="collapse4" class="panel-collapse collapse" data-carousel-image-id="emails">
										<div class="panel-body">
											<p>
												Phasellus elit augue, egestas eu est ut, rutrum lobortis turpis.
												Vivamus eget blandit est. Curabitur dapibus est et dignissim interdum.
												Nulla ligula turpis, ultrices in consequat vitae, tempor sed sem.
											</p>
											<p>
												Curabitur placerat pretium neque eget condimentum.
												Pellentesque id suscipit lorem. Nunc aliquam vehicula eros pharetra interdum.
												Pellentesque purus lectus, blandit ut risus vel, pharetra sagittis magna.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse5" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												5. Build your own e-commerce stores
											</a>
										</h4>
									</div>

									<div id="collapse5" class="panel-collapse collapse" data-carousel-image-id="stores">
										<div class="panel-body">
											<p>
												for pay-as-you-go content. Phasellus elit augue, egestas eu est ut, rutrum lobortis turpis.
												Vivamus eget blandit est. Curabitur dapibus est et dignissim interdum.
												Nulla ligula turpis, ultrices in consequat vitae, tempor sed sem.
											</p>
											<p>
												Curabitur placerat pretium neque eget condimentum.
												Pellentesque id suscipit lorem. Nunc aliquam vehicula eros pharetra interdum.
												Pellentesque purus lectus, blandit ut risus vel, pharetra sagittis magna.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse6" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												6. No upfront costs
											</a>
										</h4>
									</div>

									<div id="collapse6" class="panel-collapse collapse" data-carousel-image-id="no-costs">
										<div class="panel-body">
											<ul>
												<li>No video hosting fees  - <em>we use Vimeo</em></li>
												<li>No file hosting fees  - <em>we use AWS S3</em></li>
												<li>No mailout fees  - <em>we use Mailchimp</em></li>
												<li>No web hosting fees  - <em>we use our own secure cloud server on DigitalOcean</em></li>
											</ul>
										</div>
									</div>
								</div>


								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse7" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												6. Regular app updates
											</a>
										</h4>
									</div>

									<div id="collapse7" class="panel-collapse collapse" data-carousel-image-id="no-costs">
										<div class="panel-body">
											Maawol is regularly updated with new features. Here's a few things we have in the pipeline:
											<ul>
												<li><b>Learning paths:</b> set paths through your content for your students</li>
												<li><b>Challenges:</b> set short video homework assignments for your students</li>
												<li><b>Real time lessons:</b> Book in live lessons with your students, no need for 3rd party apps like Zoom.</li>
											</ul>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

					<!-- Support image -->
					<div class="col-md-5 text-right">

						<div class="owl-carousel owl-theme header-slider" id="feature-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-1.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-2.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-3.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-4.png" alt="" />
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>
		</section>

		<!-- Showcase -->
		<section class="bg-grey blog-home" id="showcase">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Maawol Music <strong>Schools</strong></h2>
							<p>
								These examples showcase how Maawol has helped music schools <br />to build a base of paying student subscribers.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Example 1 -->
					<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".1s">
						<div class="blog-col">
							<p>
								<a href="https://jazzdrummersresource.com">
									<img src="images/blog/post-1.jpg" class="blog-img" alt="" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://jazzdrummersresource.com">Jazz Drummers Resource</a></h4>
									<p>
										Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam vitae, aliquet quis nibh.
										<a href="https://jazzdrummersresource.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Example 2 -->
					<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".2s">
						<div class="blog-col">
							<p>
								<a href="https://folkschool.maawol.com">
									<img src="images/blog/post-2.jpg" class="blog-img" alt="" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://folkschool.maawol.com">Folk School</a></h4>
									<p>
										Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam vitae, aliquet quis nibh.
										<a href="https://folkschool.maawol.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Example 3 -->
					<div class="col-md-4 wow fadeInUp" data-wow-delay=".3s">
						<div class="blog-col">
							<p>
								<a href="https://saxacademy.maawol.com">
									<img src="images/blog/post-3.jpg" class="blog-img" alt="" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://saxacademy.maawol.com">Sax Academy</a></h4>
									<p>
										Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam vitae, aliquet quis nibh.
										<a href="https://saxacademy.maawol.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

		<!-- Contact -->
		<section class="contact-us" id="contact">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Let's get <strong>started</strong></h2>
							<p>
								If you are interested in running <b>your own online music school</b> with <b>no upfront costs</b> or if you just need more information about our service fill out the form below. We'll be back in touch ASAP.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Contact form -->
					<div class="col-md-8">

						<div class="contact-form">

							<form id="contactForm" action="/enquire" method="post" data-toggle="validator" class="scroll-reveal">
								<div class="row">

									<div class="form-group col-md-6">
										<input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-6">
										<input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" data-error="Email address is invalid" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-12">
										<textarea rows="8" name="message" id="message" class="form-control" placeholder="Your Message" required></textarea>
										<div class="help-block with-errors"></div>
									</div>

									<div class="col-md-12">
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<button type="submit" name="submit" class="btn-custom btn-fill btn-contact" title="Submit Your Message!"><i class="fas fa-paper-plane"></i> Send</button>
									</div>

								</div>
							</form>

						</div>

					</div>

					<!-- Contact info -->
					<div class="col-md-4 contact-right">

						<div class="contact-box">
							<h4>Say Hello</h4>
							<p>
								<a href="mailto:hello@maawol.com">hello@maawol.com</a>
							</p>
						</div>

					</div>

				</div>

			</div>
		</section>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<!-- Back to top -->
						<a class="to-top"><i class="fas fa-angle-up"></i></a>

						<div class="footer-logo">
							<img src="images/icon.png" data-rjs="2" alt="" />
						</div>

						<div class="footer-social">
							<ul>
								<li><a href="#"><i class="fab fa-fw fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-deviantart"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-instagram"></i></a></li>
							</ul>
						</div>

						<div class="copyright-text">
							<p>Copyright &copy; <%= Date.today.strftime("%Y") %> <a href="https://www.maawol.com" target="_blank">Maawol</a></p>
						</div>

					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="layout/plugins/jquery/jquery.js"></script>

		<!-- Bootstrap -->
		<script src="layout/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="layout/plugins/retina/retina.min.js"></script>
		<script src="layout/plugins/backstretch/jquery.backstretch.min.js"></script>
		<script src="layout/plugins/parallax/jquery.parallax.js"></script>
		<script src="layout/plugins/smoothscroll/smoothscroll.js"></script>
		<script src="layout/plugins/scrollto/jquery.scrollto.min.js"></script>
		<script src="layout/plugins/validator/validator.min.js"></script>
		<script src="layout/plugins/waypoints/waypoints.min.js"></script>
		<script src="layout/plugins/counterup/jquery.counterup.min.js"></script>
		<script src="layout/plugins/owlcarousel/owl.carousel.min.js"></script>
		<script src="layout/plugins/slicknav/jquery.slicknav.js"></script>
		<script src="layout/plugins/slick/slick.min.js"></script>
		<script src="layout/plugins/wow/wow.min.js"></script>
		<script src="layout/plugins/magnificpopup/jquery.magnific-popup.min.js"></script>
		<script src="layout/plugins/ytplayer/jquery.mb.ytplayer.min.js"></script>

		<!-- Main -->
		<script src="layout/js/main.js"></script>

	</body>
</html>