<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Title -->
		<title>Maawol | Online Music Schools</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="layout/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Font awesome -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/fontawesome/css/all.min.css">

		<!-- Google web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400italic,600,700,700italic,800" rel="stylesheet" type="text/css">

		<!-- Stylesheet -->
		<link rel="stylesheet" href="layout/style.css" type="text/css">
		<link rel="stylesheet" href="layout/media.css?v=2" type="text/css">

		<!-- Color schema -->
		<link class="colors" rel="stylesheet" type="text/css" href="layout/colors/green.css">

		<!-- Linea icons -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/arrows/styles.css" />
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/basic/styles.css" />
		<link rel="stylesheet" type="text/css" href="layout/plugins/linea/ecommerce/styles.css" />

		<!-- Owl carousel -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/owlcarousel/owl.carousel.min.css">

		<!-- Slick nav -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/slicknav/slicknav.css">

		<!-- Slick carousel -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/slick/slick.css">

		<!-- Animated -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/animate/animate.css">

		<!-- Magnific popup -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/magnificpopup/magnific-popup.css">

		<!-- YTPlayer -->
		<link rel="stylesheet" type="text/css" href="layout/plugins/ytplayer/css/jquery.mb.ytplayer.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
      		<script src="layout/plugins/html5shiv/html5shiv.js"></script>
      		<script src="layout/plugins/respond/respond.min.js"></script>
      	<![endif]-->

	</head>

	<body data-spy="scroll" data-target="#navigation" data-offset="65">

		<!-- Preloader -->
		<div class="preloader">
			<div class="spinner-loader">
				<div class="load1"></div><div class="load2"></div><div class="load3"></div><div class="load4"></div><div class="load5"></div>
			</div>
		</div>

		<!-- Header -->
		<header>
			<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
				<div class="container">

					<div class="navbar-header">

						<!-- Logo -->
						<a class="navbar-brand" href="#">
							<img src="images/maawol-logo.png?v=1" data-rjs="2" alt="" />
						</a>

						<!-- Responsive menu button -->
						<div class="navbar-toggle"></div>

					</div>
					<div id="responsive-menu"></div>

					<!-- Navigation -->
					<div class="navbar-collapse collapse" id="navigation">
						<ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
							<li><a href="#how-and-why">How &amp Why</a></li>
							<li><a href="#features">Features</a></li>
							<li class="md-hide"><a href="#alternatives">Alternatives</a></li>
							<li><a href="#oaq">Questions</a></li>
							<li><a href="#showcase">Showcase</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>

				</div>
			</nav>
		</header>

		<!-- Banner -->
		<section class="banner parallax image-bg" id="home">
			<div class="container">
				<div class="row">

					<div class="col-md-7">
						<div class="header-content">

							<h2>Run your own online <br />Music School</h2>
							<p>
								With Maawol you can manage your own library of music lessons, group them into courses, connect online with your students and turn them into paying subscribers.
							</p>

							<div class="download-button">
								<a href="#how-and-why" class="btn-download btn-fill">
									<i class="fas fa-briefcase"></i>
									<span>How does it work?</span>Find out more
								</a>
								<a href="#showcase" class="btn-download btn-fill">
									<i class="fas fa-school"></i>
									<span>Who's using Maawol?</span>View schools
								</a>
							</div>

						</div>
					</div>

					<div class="col-md-3 col-md-offset-2">

						<!-- Header slider -->
						<div class="owl-carousel owl-theme header-slider" id="header-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-1.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-2.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-3.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-4.png" alt="" />
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- Features -->
		<section id="how-and-why">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>How &amp; <strong>Why</strong></h2>

							<p><b>Maawol</b> (<i>Màawølː</i>): Music As A Way Of Life.</p>

							<p>
								Music teachers and schools have been hit hard by these challenging times. Most are struggling to make ends meet. Many of them are unable to continue to connect with their students other than via 1-2-1 lessons on Skype or Zoom.
							</p>

							<p>
								Maawol online music schools is a way to help overcome this by offering an online library of lessons to your students.
								Our business model is designed to work for you: <br />
								<strong>No upfront costs, no monthly subscription, no hosting fees.</strong> <br />
								By taking just a 15% revenue share, we only make money when you do.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Feature 1 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.3s">
							<div class="icon"><i class="far fa-hand-paper"></i></div>
							<h3>No upfront costs for you</h3>
							<p>
								Start your own securely hosted online music school on your own custom web domain with no upfront costs and no monthly fees.
							</p>
						</div>
					</div>

					<!-- Feature 2 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp">
							<div class="icon"><i class="fas fa-chart-line"></i></i></div>
							<h3>Easy Subscriptions</h3>
							<p>
								Encourage students to join and subscribe to your school on a monthly rolling basis. They can pay via card or Paypal. You receive 85% of all subscription payments.
							</p>
						</div>
					</div>


					<!-- Feature 3 -->
					<div class="col-md-4 col-sm-6">
						<div class="feature-single res-margin wow fadeInUp" data-wow-delay="0.6s">
							<div class="icon"><i class="fas fa-money-bill-alt"></i></div>
							<h3>Pay-as-you-go Content</h3>
							<p>
								Create customised e-commerce stores selling one-off courses and files to those students who do not join as members. You receive 85% of all store sales.
							</p>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12 feature-mobile">

						<img src="images/features/mobile.png" alt="" />

					</div>
				</div>

			</div>
		</section>

		<!-- Key features -->
		<section class="bg-grey key-features" id="features">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Features</h2>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Left -->
					<div class="col-md-4">

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-globe-africa"></i>
							</div>
							<div class="box-title">A unique www domain</div>
							<div class="box-text">
								Your Maawol lesson library runs on a custom web domain of your choice (e.g. www.bobspianolessons.com).<br />
								You choose the domain and we handle the rest.
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-key"></i>
							</div>
							<div class="box-title">Secure hosting</div>
							<div class="box-text">
								We set you up with a secure SSL certificate for your domain so that your site runs securely over HTTPS
							</div>
						</div>

						<div class="feature-box box-left">
							<div class="box-icon">
								<i class="fas fa-info-circle"></i>
							</div>
							<div class="box-title">Create info pages</div>
							<div class="box-text">
								As well as the Maawol lesson and course pages you can create your own information pages using a custom-built CMS.
							</div>
						</div>

					</div>

					<!-- Center -->
					<div class="col-md-4 hidden-xs text-center feature-center">
						<img src="images/features/awesome-features.png" alt="" />
					</div>

					<!-- Right -->
					<div class="col-md-4">

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="box-title">Responsive layout</div>
							<div class="box-text">
								Maawol schools are designed to be responsive for all modern devices, they look great on on mobiles, desktops and tablets.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-copyright"></i>
							</div>
							<div class="box-title">Customise your branding</div>
							<div class="box-text">
								Manage your logo and colour theme so your school stays within your own brand.
							</div>
						</div>

						<div class="feature-box box-right">
							<div class="box-icon">
								<i class="fas fa-laptop"></i>
							</div>
							<div class="box-title">Monitor your progress</div>
							<div class="box-text">
								From your admin dashboard you can view how many students you have, how many of them are subscribing, how much money you are making and much more
							</div>
						</div>

					</div>

				</div>

			</div>
		</section>

		<!-- Testimonials -->
		<section>
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>A <strong>Testimonial</strong></h2>
							<p>Here's a quick and shameless testimonial from Justin Varnes who runs the first Maawol school over at
										<a target="_blank" href="https://www.jazzdrummersresource.com">www.jazzdrummersresource.com</a></p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 testimonial-carousel">

						<!-- Text -->
						<div class="block-text row">
							<div class="carousel-text testimonial-slider col-sm-12">
								<div>
									<div class="single-box">
										<p><i class="fas fa-quote-left" aria-hidden="true"></i> Maawol transformed my basic, cookie-cutter site into a dynamic, flexible, and clean machine. It’s made a huge difference in how easy it is to use and how much traffic it gets.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Media -->
						<div class="block-media row">
							<div class="carousel-images testimonial-nav col-sm-8 col-sm-offset-2">
								<div>
									<img src="images/justin.jpg" alt="Justin Varnes" class="img-responsive img-circle">
									<div class="client-info">
										<h3>Justin Varnes</h3>
										<span>Jazz Drummers Resource</span>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</section>


		<!-- The Alternatives -->
		<section id="alternatives" class="pricing parallax-bg" data-bg="images/parallax/pricing.png">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title white">
							<h2>The <strong>Alternatives</strong></h2>
							<p>
								Why choose Maawol to present your lesson content over other online offerings?<br />
								Here's a comparison with 3 of them.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Competitor 1 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title">
								<div class="price-rate">
									<img width="220px" alt="YouTube" src="images/alternatives/youtube.png" style="display: block; margin: 0 auto;" />
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice than YouTube....</b></li>
										<li>Students <strong>pay you</strong> for access to your lesson content. Convert your existing YouTube followers into paying customers.</li>
										<li>Students stay within your own domain.</li>
										<li>No overlaid adverts.</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<!-- Competitor 2 -->
					<div class="col-md-4">

						<div class="price-table res-margin">
							<div class="price-title">
								<div class="price-rate">
									<img width="220px" alt="YouTube" src="images/alternatives/patreon.png?v=1" style="display: block; margin: 0 auto;" />
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice than Patreon....</b></li>
										<li>Lessons are categorised, searchable and grouped into courses.</li>
										<li>Videos for the lessons are not hosted on YouTube thus not publicly accessible.</li>
										<li>You control your own brand on your own web domain.</li>
									</ul>
								</div>
							</div>

						</div>

					</div>

					<!-- Competitor 3 -->
					<div class="col-md-4">

						<div class="price-table">
							<div class="price-title">
								<div class="price-rate">
									<img width="220px" alt="YouTube" src="images/alternatives/udemy.png" style="display: block; margin: 0 auto;" />
								</div>
							</div>
							<div class="price-content">
								<div class="content">
									<ul>
										<li><b>Why Maawol is a better choice than Udemy....</b></li>
										<li>No competition from other content producers. Your students stay within your domain.</li>
										<li>Maawol online schools are customised for <b>music</b> lessons.</li>
										<li>Udemy take a much higher revenue share at 50%; we take only 15%.</li>
									</ul>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- OAQ -->
		<section class="support" id="oaq">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Oft asked <strong>questions</strong></h2>
							<p>
								'Frequently' is always an exaggeration!<br />
								Here are a few questions we sometimes get asked by music teachers <br />wondering if Maawol is right for them.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- FAQ -->
					<div class="col-md-7">

						<div class="faq-support">

							<!-- FAQ accordion -->
							<div class="panel-group" id="accordion">

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse1" data-toggle="collapse" data-parent="#accordion">
												1. What if I do not have enough lesson content?
											</a>
										</h4>
									</div>

									<div id="collapse1" class="panel-collapse collapse in" data-carousel-image-id="library">
										<div class="panel-body">
											<p>
												We recommend you have at least 25 video lessons before you start charging for subscriptions.
											</p>
											<p>
												But this DOES NOT mean that you need to wait until then to setup your school and start taking on students.
												It's easy to build your membership using free content whilst building up your premium content ready to start taking subscriptions.
											</p>
											<p>
												Remember: it's FREE for students to join your school but they need to pay to subscribe to your premium content. You get to decide which content is free and which is premium.
											</p>

											<p>If you are an individual music teacher and worried that you will not be able to produce enough content, why not collaborate with your musician friends and start a Maawol school together?</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse2" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												2. How are the lessons structured?
											</a>
										</h4>
									</div>

									<div id="collapse2" class="panel-collapse collapse" data-carousel-image-id="courses">
										<div class="panel-body">
											<p>
												Students can browse your lesson content in many ways:-
											</p>
											<ul>
												<li>Filter down by categories and tags.</li>
												<li>Search for keywords within the text of lessons.</li>
												<li>Add lessons to their own <b>Favourites</b>, <b>Watch Later</b> and <b>Viewed</b> lists.</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse3" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												3. How do I manage the look &amp; feel of the site?
											</a>
										</h4>
									</div>

									<div id="collapse3" class="panel-collapse collapse" data-carousel-image-id="admin">
										<div class="panel-body">
											<p>
												As well as managing your lesson content and CMS pages, your admin dashboard can be used to control:-
											</p>
											<ul>
												<li>Your colour theme</li>
												<li>Your logo</li>
												<li>Links to your social media platforms</li>
												<li>Other website images such as your favicon</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse4" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												4. How do I send emails to the students?
											</a>
										</h4>
									</div>

									<div id="collapse4" class="panel-collapse collapse" data-carousel-image-id="emails">
										<div class="panel-body">
											<p>
												When students perform certain actions on your Maawol school such as registration or subscription they recieve a custom branded email notification.
											</p>
											<h4>*** COMING SOON: Mailouts ***</h4>
											<p>
												When a student registers on your school they are added to a mailout list on our mailing system (Mailchimp).
												Soon in the Maawol admin dashboard you will be able to send customised newsletters or announcements to all of your members as a mailshot.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse5" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												5. How do the e-commerce stores work?
											</a>
										</h4>
									</div>

									<div id="collapse5" class="panel-collapse collapse" data-carousel-image-id="stores">
										<div class="panel-body">
											<p>
												Via your admin dashboard you can create custom e-commerce web-stores and populate them with sale items such as <b>Courses</b>, <b>PDF scores</b> and <b>Audio files</b>.
											</p>
											<p>
												This enables you to make one-off sales of your content to people who do not wish to join your school as a student.
											</p>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title collapsed">
											<a href="#collapse6" data-toggle="collapse" data-parent="#accordion" class="collapsed">
												6. No upfront costs.... Come on, really?
											</a>
										</h4>
									</div>

									<div id="collapse6" class="panel-collapse collapse" data-carousel-image-id="no-costs">
										<div class="panel-body">
											<p>Yes REALLY!</p>

											<p>All costs involved with running an e-learning AND an e-commerce platform are handled by us.</p>
											<p>You will incur...</p>
											<ul>
												<li>No video hosting fees  - <em>we use Vimeo</em></li>
												<li>No file hosting fees  - <em>we use AWS S3</em></li>
												<li>No mailout fees  - <em>we use Mailchimp</em></li>
												<li>No web hosting fees  - <em>we use our own secure cloud server on DigitalOcean</em></li>
												<li>No domain or SSL certificate fees  - <em>we use Namecheap</em></li>
											</ul>

											<p>When you start making money from your subscription base or your web-store sales we take a 15% cut. Simple.</p>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

					<!-- Support image -->
					<div class="col-md-5 text-right">

						<div class="owl-carousel owl-theme header-slider" id="feature-slider-carousel">
							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-1.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-2.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-3.png" alt="" />
								</div>
							</div>

							<div class="item">
								<div class="slider-image">
									<img src="images/slider/slider-4.png" alt="" />
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>
		</section>

		<!-- Showcase -->
		<section class="bg-grey blog-home" id="showcase">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Maawol <strong>Showcase</strong></h2>
							<p>
								These examples showcase how Maawol has helped music schools <br />to build a base of paying student subscribers.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Example 1 -->
					<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".1s">
						<div class="blog-col">
							<p>
								<a href="https://jazzdrummersresource.com" target="_blank">
									<img src="images/screenshots/jdr-1.png" class="blog-img" alt="Jazz Drummers Resource" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://jazzdrummersresource.com">Jazz Drummers Resource</a></h4>
									<p>
										If you're looking to get better at playing jazz drums this is the place to come for inspiration, support and, if you need it, a kick in the pants.
										<a href="https://jazzdrummersresource.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Example 2 -->
					<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".2s">
						<div class="blog-col">
							<p>
								<a href="https://folkschool.maawol.com">
									<img src="images/blog/post-2.jpg" class="blog-img" alt="" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://folkschool.maawol.com">Folk School</a></h4>
									<p>
										Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam vitae, aliquet quis nibh. Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam.
										<a href="https://folkschool.maawol.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Example 3 -->
					<div class="col-md-4 wow fadeInUp" data-wow-delay=".3s">
						<div class="blog-col">
							<p>
								<a href="https://saxacademy.maawol.com">
									<img src="images/blog/post-3.jpg" class="blog-img" alt="" />
								</a>
							</p>
							<div class="blog-wrapper">
								<div class="blog-text">
									<h4><a href="https://saxacademy.maawol.com">Sax Academy</a></h4>
									<p>
										Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam vitae, aliquet quis nibh. Quisque dui at erat auctor pulvinar nisl felis, gravida et aliquam.
										<a href="https://saxacademy.maawol.com" class="btn-read-more">Read More</a>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

		<!-- Contact -->
		<section class="contact-us" id="contact">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-12">

						<div class="section-title">
							<h2>Let's get <strong>started</strong></h2>
							<p>
								If you are interested in running <b>your own online music school</b> with <b>no upfront costs</b> or if you just need more information about our service fill out the form below. We'll be back in touch ASAP.
							</p>
						</div>

					</div>
				</div>

				<div class="row">

					<!-- Contact form -->
					<div class="col-sm-12 col-md-8">

						<div class="contact-form">

							<form id="contactForm" action="/enquire" method="post" data-toggle="validator" class="scroll-reveal">
								<div class="row">

									<div class="form-group col-md-6">
										<input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-6">
										<input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" data-error="Email address is invalid" required>
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-12">
										<textarea rows="8" name="message" id="message" class="form-control" placeholder="Your Message" required></textarea>
										<textarea name="sweets" id="sweets"></textarea>
										<div class="help-block with-errors"></div>
									</div>

									<div class="col-md-12">
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<button type="submit" name="submit" class="btn-custom btn-fill btn-contact" title="Submit Your Message!"><i class="fas fa-paper-plane"></i> Send</button>
									</div>

								</div>
							</form>

						</div>

					</div>

					<!-- Contact info -->
					<div class="col-sm-12 col-md-4 contact-right">

						<div class="contact-box">
							<h4>Say Hello</h4>
							<p>
								<a href="mailto:hello@maawol.com">hello@maawol.com</a>
							</p>
						</div>

					</div>

				</div>

			</div>
		</section>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<!-- Back to top -->
						<a class="to-top"><i class="fas fa-angle-up"></i></a>

						<div class="footer-logo">
							<img src="images/maawol-icon.png" data-rjs="2" alt="" />
						</div>
<!--
						<div class="footer-social">
							<ul>
								<li><a href="#"><i class="fab fa-fw fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-deviantart"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-fw fa-instagram"></i></a></li>
							</ul>
						</div> -->

						<div class="copyright-text">
							<p>Copyright &copy; <%= Date.today.strftime("%Y") %> <a href="https://www.maawol.com" target="_blank">Maawol</a></p>

						</div>
						<p id="footer-email"><a href="mailto:hello@maawol.com" class="text-white">hello@maawol.com</a></p>

					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="layout/plugins/jquery/jquery.js"></script>

		<!-- Bootstrap -->
		<script src="layout/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="layout/plugins/retina/retina.min.js"></script>
		<script src="layout/plugins/backstretch/jquery.backstretch.min.js"></script>
		<script src="layout/plugins/parallax/jquery.parallax.js"></script>
		<script src="layout/plugins/smoothscroll/smoothscroll.js"></script>
		<script src="layout/plugins/scrollto/jquery.scrollto.min.js"></script>
		<script src="layout/plugins/validator/validator.min.js"></script>
		<script src="layout/plugins/waypoints/waypoints.min.js"></script>
		<script src="layout/plugins/counterup/jquery.counterup.min.js"></script>
		<script src="layout/plugins/owlcarousel/owl.carousel.min.js"></script>
		<script src="layout/plugins/slicknav/jquery.slicknav.js"></script>
		<script src="layout/plugins/slick/slick.min.js"></script>
		<script src="layout/plugins/wow/wow.min.js"></script>
		<script src="layout/plugins/magnificpopup/jquery.magnific-popup.min.js"></script>
		<script src="layout/plugins/ytplayer/jquery.mb.ytplayer.min.js"></script>

		<!-- Main -->
		<script src="layout/js/main.js"></script>

	</body>
</html>